.header__two {
    height: 60px;
    background-color: #f7e98e;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__content {
    display: flex;
    
}

.header__top {
    display: flex;
    justify-content: center;
    
    color: #403F45;
}

.header__bottom {
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 4px;
   cursor: pointer;
   color: #403F45;
}

.header__bottom h5:hover {
    color: black
}

.active {
    background-color: #6759ff;
    volor: #ffffff;
}